<ion-header>
  <ion-toolbar color="primary">
    <ion-title slot="start">M<span>i</span>Banca</ion-title>
    <ion-title slot="end">
      <span class="users_name"> Hola {{username}} </span> <a (click)="doLogout($event)"><span>Logout</span></a>
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <ion-card>
    <ion-card-header>
      <span>Solictud de Cuenta</span>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label>Tipo de Cuenta</ion-label>
          <ion-select placeholder="Seleccione Una" (ionChange)="selectHandler($event)">
            <ion-select-option *ngFor="let item of type_cards" value={{item.type}}>{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button class expand="block" (click)="setRequestCards()">solicitar</ion-button>

    </ion-card-content>
  </ion-card>
  
  <ion-card>
      <ion-card-header>
        Cuentas
      </ion-card-header>
    
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    Cuenta
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Depositos
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                   Retiros
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    Saldo
                  </div>
                </ion-col>
              </ion-row>
             
              <ion-row *ngFor="let account of list_accounts" >
                  <ion-col>
                    <div>
                      {{account.name}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      {{account.deposits}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      {{account.withdrawals}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      {{account.balance}}
                    </div>
                  </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>